# Dependencias
/node_modules
/.pnp
.pnp.js

# Archivos de compilación
/dist
/dist-ssr
/build

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor y herramientas
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache de Vite
.vite

# Archivos de testing
/coverage

# Archivos generados por Vercel
.vercel

# Archivos temporales
*.log
*.cache
*.tmp

# Archivos locales
*.local