@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 17, 24, 39;
  }
}

.dark {
  --foreground-rgb: 17, 24, 39;
  --background-rgb: 255, 255, 255;
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  transition: background-color 0.5s, color 0.5s;
}

/* Ocultar cursor nativo en desktop */
@media (min-width: 768px) {
  body {
    cursor: none;
  }
}